<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>
      <%= title %>
    </title>
  </head>
  <body>
    <div class="container">
      <div>
        <h3 class="title">Message Board</h3>
        <a href="/threads"><button class="btn btn-secondary back-btn ">&larr; Return To Thread List</button></a>
      </div>

      <div class="all-threads">
        <h5>Single Thread</h3>
        <div class="individual-thread">
          <span><b>Created on:</b> <%=thread.createdAt.getFullYear() +"-"+ thread.createdAt.getMonth() +"-"+ thread.createdAt.getDate() %></span><br>
          <p>
            <span><%=thread.thread %></span><br>
            <% if(thread.report){ %>
              <button id="<%=thread.id%>" class="btn btn-warning report" disabled>Already Reported</button>
            <%}else{%>
              <button id="<%=thread.id%>" class="btn btn-warning report">Report Thread</button>
          </p>
            <%}%>

          <form  id="<%=thread.id%>" >
            <label for="password-form">Delete Thread:</label>
            <input  type="password" name="password" placeholder="Password*" required>
            <button type="sumbit" class="btn btn-danger delete-thread">Delete Thread</button>
          </form>

          <div class="reply-box">
             <% for(var j = 0; j < repliesArray.length; j++){ %>
              <p class="reply-paragraph">
              <span><b>Replied on:</b> <%=repliesArray[j].createdAt.getFullYear() +"-"+ repliesArray[j].createdAt.getMonth() +"-"+ repliesArray[j].createdAt.getDate() %></span><br>
              <% if(repliesArray[j].deleted){ %>
                <span>[REPLY DELETED]</span><br>
                <%}else{%>
                  <span><%=repliesArray[j].reply %></span><br>
                  <%}%>
                <% if(repliesArray[j].report && !repliesArray[j].deleted){ %>
                  <button id="<%=repliesArray[j].id%>" class="btn btn-warning report-reply" disabled>Already Reported</button>
                <%}else if(!repliesArray[j].deleted){%>
                  <button id="<%=repliesArray[j].id%>" class="btn btn-warning report-reply">Report</button>
                <%}%>
              <form  id="<%=repliesArray[j].id%>" >
                <label for="password">Delete Reply:</label>
                <input  type="password" name="password" placeholder="Password*" required>
                <button type="sumbit" class="btn btn-danger delete-reply">Delete</button>
              </form>
             </p>

            <%}%>
            <form class="reply-form" action="/replies/single-reply/<%=thread.id%>" method="post">
              <div class="form-group">
                <textarea class="form-control" rows="3" name="reply" placeholder="New Reply" required></textarea>
              </div>
                <input  type="password" name="password" placeholder="Password*" required>
              <button type="submit" class="btn btn-info reply-btn">Reply</button>
            </form>
          </div>

        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
  </body>

</html>
