<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>
      <%= title %>
    </title>
  </head>
  <body>
    <div class="container">
      <div>
        <h3 class="title">Message Board</h3>
        <a href="/"><button class="btn btn-secondary back-btn ">&larr; To Main Screen</button></a>
      </div>

      <div class="all-threads">
        <h5>Threads</h3>
       <% for(var i = 0; i < threads.length; i++){ %>
        <div class="individual-thread">
          <span><b>Created on:</b> <%=threads[i].createdAt.getFullYear() +"-"+ threads[i].createdAt.getMonth() +"-"+ threads[i].createdAt.getDate() %></span><br>
          <p>
            <span><%=threads[i].thread %></span><br>
            <% if(threads[i].report){ %>
              <button id="<%=threads[i].id%>" class="btn btn-warning report" disabled>Already Reported</button>
            <%}else{%>
              <button id="<%=threads[i].id%>" class="btn btn-warning report">Report Thread</button>
          </p>
            <%}%>

          <form  id="<%=threads[i].id%>" >
            <label for="password-form">Delete Thread:</label>
            <input  type="password" name="password" placeholder="Password*" required>
            <button type="sumbit" class="btn btn-danger delete-thread">Delete Thread</button>
          </form>

          <div class="reply-box">
            <% var k = 0  %>
              <% for(var j = 0; j < replies.length; j++){ %>
                 <% if (replies[j].threadId == threads[i].id) { %>
                  <% k++ %>
                  <% if (k == 4) { %>
                      <% break %>
                   <%}%>
                    <p class="reply-paragraph">
                      <span><b>Replied on:</b> <%=replies[j].createdAt.getFullYear() +"-"+ replies[j].createdAt.getMonth() +"-"+ replies[j].createdAt.getDate() %></span><br>
                        <span><%= replies[j].reply %></span><br>

                        <% if(replies[j].report){ %>
                          <button id="<%=replies[j].id%>" class="btn btn-warning report" disabled>Already Reported</button>
                        <% }else{ %>
                          <button id="<%=replies[j].id%>" class="btn btn-warning report">Report</button>

                        <% } %>
                      <form  id="<%=replies[j].id%>" >
                        <label for="passworf">Delete Reply:</label>
                        <input  type="password" name="password" placeholder="Password*" required>
                        <button type="sumbit" class="btn btn-danger delete-reply">Delete</button>
                      </form>
                    </p>
                <% } %>
              <% } %>
            <span>Displaying <%=k%>  replies.</span><br>
            <span>To see the full list </span><a href="replies/all-replies/<%=threads[i].id%>"><button class="btn btn-secondary all-replies-btn">click here</button></a>
            <form class="reply-form" action="/replies/add-reply/<%=threads[i].id%>" method="post">
              <div class="form-group">
                <textarea class="form-control" rows="3" name="reply" placeholder="New Reply" required></textarea>
              </div>
              <input  type="password" name="password" placeholder="Password*" required>
              <button type="submit" class="btn btn-info reply-btn">Reply</button>
            </form>
          </div>

        </div>
      <% } %>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
  </body>

</html>
